<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
    tailwind.config = {
      theme: {
        extend: {
        }
      }
    }
  </script>
    <style type="text/tailwindcss">
    @layer utilities {
      .content-auto {
        content-visibility: auto;
      }
    }
  </style>
    <title><%= name %></title>
  </head>
  <body>
    <div class="container">
      <p class="text-green-400">Hello, <%= name %>!</p>
    </div>
  </body>
</html>
