<html>
  <head>
    <meta charset="utf-8">
    <script src="/materialize/js/materialize.js"></script>
    <link rel="stylesheet" href="/materialize/css/materialize.min.css"/>
    <title><%= name %></title>
  </head>
  <body>
    <div class="container">
      <p>Hello, <%= name %>!</p>
    </div>
  </body>
</html>
